# my-frontend/.env.example
REACT_APP_API_BASE_URL=http://localhost:8000/zedvye_one
REACT_APP_ROOM_SERVICE_URL=http://localhost:8002/room_service/
REACT_APP_BOOKING_SERVICE_URL=http://localhost:8003/booking_service/booking/
REACT_APP_POSTS_SERVICE_URL=http://localhost:8080/api/v1/